! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- Gruvbox colorscheme ------------------------------------------------------
! ------------------------------------------------------------------------------

*.foreground:  #ebdbb2
*.background:  #282828
*.cursorColor: #fbf1c7
!
! Black
*.color0:      #1d2021
*.color8:      #928374
!
! Red
*.color1:      #cc241d
*.color9:      #fb4934
!
! Green
*.color2:      #98971a
*.color10:     #b8bb26
!
! Yellow
*.color3:      #d79921
*.color11:     #fabd2f
!
! Blue
*.color4:      #458588
*.color12:     #83a598
!
! Magenta
*.color5:      #b16286
*.color13:     #d3869b
!
! Cyan
*.color6:      #689d6a
*.color14:     #8ec07c
!
! White
*.color7:      #ebdbb2
*.color15:     #bdae93
!
! Bold, Italic, Underline
*.colorBD:     #ebdbb2
!*.colorIT:
!*.colorUL:! 

!------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------
 
! --- urxvt settings -----------------------------------------------------------
urxvt*depth: 32
urxvt*background:  [60]#2e2e2e

URxvt*font: xft:DejaVuSansMono:pixelsize=16
/* URxvt*font: xft:Terminess Powerline:pixelsize=16 */
/* URxvt*boldFont: xft:DejaVuSansMono:pixelsize=16 */
/* URxvt*font: xft:Droid Sans Mono for Powerline:size=12 */

! Fix font space
URxvt*letterSpace: -1

! Scrollbar
URxvt.scrollStyle:          rxvt
URxvt.scrollBar:            false

! mute Bell
URxvt.visualBell: True

! --- Misc --------------------------------------------------------------------
Xcursor.size: 16

